body{
    background-color:#2A2A27;
    font-family: 'Roboto', sans-serif;
}

.fondo{
    background-color: #F3CA24;
    color: rgb(63, 63, 63);
    font-weight:400;
}

.navbar-expand-md .navbar-collapse{
    flex-basis: none;
    justify-content: end;
}

.titulo{
    font-family: 'Permanent Marker', cursive;
    font-size: 6rem;
}

.inicio{
    height: 100vh;
}
.logo{
    width: 350px;
    border-radius: 50%;
}

.subtitulo{
    font-family: 'Permanent Marker', cursive;
    font-size: 4.5rem;
}
/* GALERIA */
.contenedor-galeria{
    max-width: 1200px;
    margin: 0 auto;
}

.grid{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}
.grid img{
    width: 100%;
    height: 300px;
    /* border: 10px solid #F3CA24; */
    border: 10px solid white;
    border-radius: 5px;
}
/*  */


/* Formulario de registro */
.formulario-registro{
    width: 50%;
    background: rgb(96, 93, 93);
    margin: 0 auto;
    margin-top: 20px;
    padding: 2rem;
    border-radius: 15px;
}
.tigres-img{
    width: 100%;
}

/* FOOTER */
footer{
    border-top: 10px solid #F3CA24;

}
footer a{
    text-decoration: none;
}


.fa-google-plus{
    color: #B33030;
}
.fa-facebook{
    color: #1944d3;
}
.fa-instagram{
    color: #c158c1;
}
/*  */

/* estilos de la pagina del login */

.full-screen{
    height: 90vh;
}
.formulario-login{
    min-width: 300px;
    max-width: 500px;
    background: rgb(96, 93, 93);
    margin: 0 auto;
    margin-top: 20px;
    padding: 2rem;
    border-radius: 15px;
}

.form-group > label{
    color: #F3CA24;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 2px;
}
.btn-login{
    background-color: #F3CA24;
    font-weight: bold;
}
.btn-login:hover{
    background-color:white ;
    color: black;
}

/*  */

/* media queries */
@media (max-width: 768px) {
    .titulo{
        padding: 10rem;
        font-size: 3.5rem;
    }
    .subtitulo{
        font-size: 2.5rem;
    }

    .tigres-img{
    width: 60%;
    margin: 0 auto;
    display: block;
}
.formulario-registro{
    width: 90%;
    margin-top: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
}
}
    
@media (max-width: 600px) {
    .titulo{
        padding: 0;
    }

    .logo{
    width: 100%;
    border-radius: 50%;
    }


}

@media (max-width:500px) {
    .redes-sociales > a{
        margin: 2rem !important;
    }


}